# requirements.txt

absl-py==2.1.0
array_record==0.5.1
astunparse==1.6.3
blobfile==2.1.1
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
chex==0.1.86
click==8.1.7
clu==0.0.12
contextlib2==21.6.0
coverage==7.5.1
dm-tree==0.1.8
docstring_parser==0.16
editdistance==0.8.1
etils==1.7.0
exceptiongroup==1.2.1
filelock==3.14.0
flatbuffers==24.3.25
flax==0.8.3
fsspec==2024.5.0
gast==0.5.4
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-jetstream==0.2.1
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpcio==1.63.0
h5py==3.11.0
idna==3.7
importlib_resources==6.4.0
iniconfig==2.0.0
jax==0.4.28
jaxlib==0.4.28
-e git+ssh://git@github.com/FanhaiLu1/jetstream-pytorch.git@f37b146e867c0f317332cc34a901dc5e1a57005c#egg=jetstream_pt
keras==3.3.3
libclang==18.1.1
lxml==4.9.4
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-collections==0.1.1
ml-dtypes==0.3.2
msgpack==1.0.8
namex==0.0.8
nest-asyncio==1.6.0
numpy==1.26.4
opt-einsum==3.3.0
optax==0.2.2
optree==0.11.0
orbax-checkpoint==0.5.11
packaging==24.0
pluggy==1.5.0
portpicker==1.6.0
promise==2.3
proto-plus==1.23.0
protobuf==3.20.3
psutil==5.9.8
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycryptodomex==3.20.0
pyglove==0.4.4
Pygments==2.18.0
pytest==8.2.0
PyYAML==6.0.1
regex==2024.5.15
requests==2.31.0
rich==13.7.1
rsa==4.9
safetensors==0.4.3
scipy==1.13.0
sentencepiece==0.2.0
seqio==0.0.19
six==1.16.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
tensorflow-metadata==1.15.0
tensorflow-text==2.16.1
tensorstore==0.1.59
termcolor==2.4.0
tfds-nightly==4.9.2.dev202308090034
tiktoken==0.7.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tqdm==4.66.4
typing_extensions==4.11.0
urllib3==2.2.1
Werkzeug==3.0.3
wrapt==1.16.0
zipp==3.18.2
